a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

a {
    color: #fff;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

button {
    cursor: pointer;
}


footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin-top: 3rem;
    background: #111;
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
}

footer p {
    color: #fff;
}

figcaption, blockquote {
    font-style: italic;
    font-size: 12px;
}

blockquote {
    background: #eee;
    padding: 20px;
}