.header-container {
    background: var(--container-color);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}

.logo span {
    color: var(--second-color);
}

.logo-uda {
    max-width: 144px;
    height: auto;
    width: 100%;
}

.home-link, .about-link {
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 4px;
    background: transparent;
    color: var(--bg-color);
}

.home-link:hover, .about-link:hover {
    /*background: hsl(199, 98%, 56%);*/
    color: var(--second-color);
    transition: .5s;
}